<p>
  Reactive Form
</p>


<div>
  <form (ngSubmit)="enviar()" [formGroup]="formGroup">


    <label>Nombre</label>
    <input type="text" formControlName="nombre" class="form-control" [ngClass]="{ 'is-invalid':  form.nombre.errors && (form.correo.touched) }" />
    <div *ngIf="form.nombre.errors">
      <div *ngIf="form.nombre.errors.required && (form.correo.touched)" class="desc-error">El nombre es obligatorio
      </div>
    </div>

    <br>

    <label>Email</label>
    <input type="text" formControlName="correo" class="form-control" [ngClass]="{ 'is-invalid': form.correo.errors && (form.correo.touched) }" />
    <div *ngIf="form.correo.errors">
      <div *ngIf="form.correo.errors.required && (form.correo.touched)" class="desc-error">El email es obligatorio</div>
      <div *ngIf="form.correo.errors.email" class="desc-error">El email debe de ser válido</div>
    </div>

    <br>
    <br>


    <div class="text-center">
      <button class="btn btn-primary mr-1" [disabled]="formGroup.invalid">Enviar</button>
    </div>
  </form>
</div>